$lightergraypurple: #d9cedf;
$muave: #a67db0;
$purple: #2f0e47;
$graypurple: #ac9fb2;
$pinkish: #D6C7D7;
$darkpurple: #61526d;
$background: #f9f5ff;
$text: #1a2632;
$heading: #fdf3e4;
$bluegray:  #6b728d;
$f4color: #d65273;